{% block quantity_counter_widget %}
    <div class="quantity-counter-widget">
        <span>Recette pour</span>
        {{ form_row(form.value) }}
        {{ form_row(form.unit) }}
    </div>
{% endblock %}
