@use "vendor";
@use "fonts/icon";
@use "theme";

body {
    background-color: var(--color-light);
    font-family: var(--font-family-content), sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}
