@use "vendor";
@use "fonts/icon";
@use "theme";

* {
    scrollbar-color: var(--color-raspberry) var(--color-light);
    scrollbar-width: thin;
}

body {
    background-color: var(--color-light);
    font-family: var(--font-family-content), sans-serif;
    font-size: 16px;
    color: var(--color-dark);
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}
