:root {
    // ----- Colors -----
    --color-eggplant: #663366;
    --color-raspberry: #A82D54;
    --color-olive: #31432D;
    --color-pistachio: #B2CC7C;
    --color-omelette: #FFE99E;
    --color-water: #65D8E1;
    --color-light: #FBF7F1;
    --color-dark: #101411;
    --color-success: #2C6F26;
    --color-warn: #BD3A3C;

    // ----- Fonts -----
    --font-family-title: "Capriola";
    --font-family-content: "Open Sans";
    --font-family-icon: "Icon";

    // ----- Layout -----
    --appbar-height: 54px;
    --main-width: 1280px;
}

