footer {
    padding: 12px;

    p {
        text-align: center;
        color: var(--color-raspberry);

        a {
            color: var(--color-eggplant);
            text-decoration: underline var(--color-pistachio);
        }
    }
}
