@use "../../../components/common/content-frame";
@use "../../../components/common/form/common";
@use "../../../components/common/form/rating-widget";
@use "../../../components/cooking/form/quantity-counter-widget";
@use "../../../components/cooking/form/review-form";
@use "../../../components/cooking/recipe-timer";
@use "../../../components/cooking/ingredient-list";
@use "../../../components/cooking/step-list";
@use "../../../components/cooking/utensil-list";
@use "../../../components/social/profile-card";

h2 {
    font-size: 1.3rem;
    color: var(--color-eggplant);
}

.recipe-header {
    display: flex;
    overflow: hidden;
    min-height: 450px;
    padding: 0;

    .recipe-image {
        width: 450px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-right: 2px solid var(--color-water);
        overflow-clip-margin: unset;
    }

    .recipe-summary {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 16px;

        .header-aligned {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 28px 40px;

            &.end {
                flex-wrap: wrap-reverse;
                margin-top: auto;
            }
        }

        .recipe-title {
            .recipe-category {
                font-size: 0.95rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .recipe-timer-container {
            margin: 24px 0;
        }

        .compact-list {
            margin: 6px 0 24px;
            display: flex;
            flex-wrap: wrap;
            gap: 12px 24px;
            font-size: 1.25rem;

            li {
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 1.1rem;

                i {
                    font-size: 1.65rem;
                    color: var(--color-raspberry);
                    vertical-align: middle;
                }
            }
        }

        .profile-card {
            align-self: end;
        }

        .recipe-tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            align-items: end;
            gap: 8px;
            max-width: 450px;
            margin-left: auto;

            .tag {
                padding: 4px 8px;
                background-color: var(--color-raspberry);
                border-radius: var(--radius-default);
                font-weight: 600;
                color: var(--color-light);
            }
        }
    }
}

.quote {
    display: flex;
    gap: 10px;
    width: fit-content;
    max-width: 650px;
    margin: 36px auto 24px;
    font-size: 1.2rem;

    &:before {
        content: "\e918";
        display: inline-block;
        position: relative;
        top: calc(0.8rem / 2 * -1);
        font-family: var(--font-family-icon), sans-serif;
        font-size: 0.8rem;
        color: var(--color-pistachio);
    }
}

.recipe-content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .quantity-counter-widget {
        font-family: var(--font-family-title), sans-serif;
        font-size: 1.2rem;
        color: var(--color-eggplant);

        input[type="text"] {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--color-eggplant);
        }
    }
}

.recipe-navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    section {
        width: 100%;

        &.ingredient-utensil-container {
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            gap: 30px;

            .ingredient-list {
                flex: 3;
                min-width: min(100%, 600px);
            }

            .utensil-list {
                flex: 1;
                min-width: min(100%, 400px);
            }
        }

        &.review-container {
            width: 100%;
            max-width: 850px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .recipe-header {
        flex-direction: column;
        align-items: center;
        padding-inline: 10px;

        .recipe-image {
            margin-top: 12px;
            aspect-ratio: 1 / 1;
            max-height: 300px;
            border-right: none;
            border-radius: var(--radius-default);
        }

        .recipe-summary {
            align-self: stretch;
        }
    }
}

@media screen and (max-width: 480px) {
    .recipe-content .quantity-counter-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
