[data-recipe-item-collection] {
    .item-add-trigger {
        display: block;
        margin: 0 auto;
    }

    .item-holder {
        display: flex;
        gap: 22px;
        padding: 16px 0;
        flex-wrap: wrap;
        margin-top: 20px;

        .form-row {
            margin-bottom: 0;

            .item {
                display: flex;
                align-items: center;

                .item-content {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    padding: 6px 12px;
                    background-color: var(--color-white);
                    border-radius: var(--radius-default);
                    box-shadow: 0 3px 6px var(--shadow-default);
                    color: var(--color-eggplant);

                    img {
                        aspect-ratio: 1 / 1;
                        height: 40px;
                        filter: invert(23%) sepia(52%) saturate(1905%) hue-rotate(309deg) brightness(97%) contrast(95%);
                    }

                    .item-form {
                        display: flex;
                        gap: 4px;

                        .form-row {
                            margin: 0;
                        }

                        select, input {
                            padding: 4px;
                            font-size: 0.8rem;
                        }

                        select {
                            max-width: 80px;
                        }

                        input {
                            max-width: 50px;
                            text-align: center;
                        }
                    }
                }

                .item-remove-trigger {
                    font-size: 1.2rem;
                    color: var(--color-warn);
                }
            }

            .form-errors li {
                margin-left: 0;
            }
        }
    }
}
