@use "../recipe-timer";

.recipe-timer-widget {
     .timer {
        label {
            font-family: var(--font-family-content), sans-serif;
            font-weight: 600;
        }

        input[type="text"] {
            width: 60px;
            text-align: center;
            font-weight: 600;
            color: var(--color-eggplant);
        }
    }
}
