<div id="flash-feed" data-messages="{{ app.flashes|json_encode }}">
    <template class="message-template">
        <li class="flash-message">
            <span></span>
            <button>
                <i class="icon icon-cross"></i>
            </button>
        </li>
    </template>
</div>
