<header>
    <a href="{{ path('main_index') }}" class="logo">
        <img src="{{ asset('build/images/logo.svg') }}" alt="Logo où est inscrit TasteHub agrémenté d'une toque, d'un fouet et d'un saladier">
    </a>

    <nav>
        <ul>
            <li class="appbar-only">
                <a href="#">
                    <i class="icon icon-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon icon-book"></i>
                    <span>Livre</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon icon-compass"></i>
                    <span>Explorer</span>
                </a>
            </li>
            <li>
                <a href="{{ path('security_login') }}">
                    <i class="icon icon-user"></i>
                    <span>Compte</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
