{% extends 'mails/base.html.twig' %}

{% block body %}
    <h1>Récupération de votre mot de passe TasteHub</h1>

    <p>
        Vous avez effectué une demande de réinitialisation de mot de passe sur l'application TasteHub.
        Pour le compte associé à l'adresse email : {{ resetPasswordRequest.user.email }}.
        Veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe.
    </p>

    <div>
        <a href="{{ url('user_security_reset_password', {token: resetPasswordRequest.token}) }}">
            Réinitialiser mon mot de passe
        </a>
        <span>Lien valable jusqu'au : {{ resetPasswordRequest.expireAt|date('d/m/Y H:i') }}</span>
    </div>
{% endblock %}
