.item-holder {
    list-style-type: none;

    .step {
        display: flex;
        flex-direction: row;
        width: 100%;

        .step-order-control {
            display: flex;
            flex-direction: column;

            button {
                padding: 0;
                line-height: 0;

                i {
                    font-size: 1.2rem;
                    color: var(--color-pistachio);
                }
            }
        }

        .step-content {
            flex: 1;

            .step-header {
                display: flex;
                align-items: center;

                h2 {
                    flex: 1;
                }
            }
        }

        .step-separator {
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;
            padding: 20px 28px;
            color: var(--color-eggplant);

            &:before, &:after {
                content: "";
                flex: 1;
                max-width: 400px;
                height: 0;
                border: 1px solid var(--color-raspberry);
            }
        }
    }
}
