form [data-recipe-item-collection] .item-holder {
    list-style-type: none;
    margin: 0;

    .step {
        display: flex;
        flex-direction: row;
        width: 100%;

        .step-order-control {
            display: flex;
            flex-direction: column;

            button {
                padding: 0;
                line-height: 0;

                i {
                    font-size: 1.2rem;
                    color: var(--color-pistachio);
                }
            }
        }

        .step-content {
            flex: 1;

            .step-header {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 12px;
                margin-bottom: 12px;

                h2 {
                    flex: 1 0 max-content;
                }
            }

            .form-row {
                margin-bottom: 12px;
            }

            .step-separator {
                display: flex;
                gap: 12px;
                justify-content: center;
                align-items: center;
                padding: 10px 28px;
                color: var(--color-eggplant);

                &:before, &:after {
                    content: "";
                    flex: 1;
                    max-width: 400px;
                    height: 0;
                    border: 1px solid var(--color-raspberry);
                }
            }
        }
    }
}
