main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw 4vw;
    padding: 12px;

    .hero-content {
        flex: 1;
        min-width: min(70%, 300px);

        h1 {
            font-size: 2.2rem;
            line-height: 1.1;
            margin-bottom: 24px;
        }

        p, ul {
            font-size: 1.25rem;
            font-weight: 500;

            a, strong {
                color: var(--color-raspberry);
                font-weight: 600;
            }

            a {
                text-decoration: underline;
                text-decoration-color: var(--color-water);
                text-decoration-thickness: 1px;
                text-underline-offset: 2px;
                transition: 200ms linear text-decoration-color;

                &:hover {
                    text-decoration-color: var(--color-eggplant);
                }
            }
        }

        ul li {
            margin-top: 8px;

            .icon {
                width: 24px;
                height: 24px;
                font-size: 24px;
                margin-right: 6px;
                vertical-align: middle;
                display: inline-block;
                color: var(--color-eggplant);

                &.search, &.whisk, &.cookbook {
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }

                &.search {
                    background-image: url('../../../../images/pictogram/search.svg');
                }

                &.whisk {
                    background-image: url('../../../../images/pictogram/whisk.svg');
                }

                &.cookbook {
                    background-image: url('../../../../images/pictogram/book.svg');
                }
            }
        }

        .cta-container {
            margin-top: 24px;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            a {
                white-space: nowrap;
            }
        }
    }

    img {
        max-width: min(40%, 400px);
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        gap: 32px;

        h1 {
            text-align: center;
        }

        .hero-content {
            .cta-container {
                justify-content: center;
            }
        }

        img {
            max-width: 45%;
        }
    }
}

@media (max-width: 480px) {
    .hero {
        .hero-content {
            h1 {
                font-size: 1.9rem;
            }

            p, ul {
                font-size: 1.15rem;
            }
        }
    }
}
