@use "base/core";
@use "components/common/title";
@use "components/layout/header";
@use "components/layout/footer";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin: 0 auto;
}
