.inspiration-banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    width: fit-content;
    margin: 32px auto 0;

    .content {
        .fake-title {
            font-family: var(--font-family-title), sans-serif;
            font-size: 1.4rem;
            color: var(--color-olive);
            margin-bottom: 12px;
            text-wrap: pretty;
        }

        .button {
            margin-right: 16px;
            margin-bottom: 8px;
        }
    }

    &:before {
        --size: 70px;
        content: '';
        width: var(--size);
        height: var(--size);
        background-image: url('~@images/pictogram/food-stuff.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}
