@use "../common/form/common";
@use "inspiration-banner";
@use "recipe-card";

.recipe-gallery {
    .title-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 12px 0;
        margin-bottom: 16px;

        .actions {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;

        .search-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .form-row:first-child {
                min-width: min(600px, 100%);

                label {
                    text-align: center;
                    margin-inline: auto;
                }
            }

            .form-row:last-child {
                min-width: min(250px, 100%);
                align-self: end;
            }
        }

        .filter-container {
            position: sticky;
            top: 16px;
            flex: 0 0 20%;
            align-self: start;

            .fake-label {
                font-family: var(--font-family-title), sans-serif;
                font-size: 1.4rem;
                color: var(--color-olive);
                margin-bottom: 8px;
            }
        }

        .recipe-holder-wrapper {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .recipe-holder {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                gap: 24px;
                justify-content: space-evenly;
                width: 100%;
                padding: 12px 0 0 30px;
            }

            .recipe-load-more {
                display: inline-block;
                align-self: center;
            }

            .recipe-holder-empty {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                max-width: 600px;

                img {
                    height: 250px;
                }

                p {
                    flex: 1 1 300px;
                    display: flex;
                    gap: 8px;
                    flex-direction: column;
                    color: var(--color-olive);

                    span {
                        font-family: var(--font-family-title), sans-serif;
                        color: var(--color-raspberry);
                        font-size: 1.4rem;
                        font-weight: 700;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .recipe-gallery form {
        .filter-container {
            position: static;
            flex: 0 0 100%;
        }

        .recipe-holder-wrapper .recipe-holder {
            padding-left: 0;
        }
    }
}
