@use "../common/form/common";
@use "inspiration-banner";
@use "recipe-card";

.recipe-list {
    .title-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 12px 0;
        margin-bottom: 16px;

        .actions {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;

        .search-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .form-row:first-child {
                min-width: min(600px, 100%);

                label {
                    text-align: center;
                    margin-inline: auto;
                }
            }

            .form-row:last-child {
                min-width: min(250px, 100%);
                align-self: end;
            }
        }

        .filter-container {
            flex: 0 0 20%;

            .fake-label {
                font-family: var(--font-family-title), sans-serif;
                font-size: 1.4rem;
                color: var(--color-olive);
                margin-bottom: 8px;
            }
        }

        .recipe-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 24px;
            justify-content: space-evenly;
            flex: 1 1 auto;
            padding: 12px 0 0 30px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .recipe-list form {
        .filter-container {
            flex: 0 0 100%;
        }

        .recipe-container {
            padding-left: 0;
        }
    }
}
