.review {
    .review-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 12px;
        margin-bottom: 6px;

        .review-user {
            font-family: var(--font-family-title), sans-serif;
            font-size: 1.1rem;
            color: var(--color-raspberry);
        }

        .review-date {
            font-style: italic;
        }
    }

    .review-rating {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 1rem;
        font-weight: 700;
        color: var(--color-raspberry);

        .icon {
            font-size: 1.1rem;
            color: var(--color-pistachio);
        }
    }

    .review-content {
        margin-block: 12px 0;
    }
}
