.step-list {
    counter-reset: recipe-step-count;
    list-style-type: none;
    max-width: 1200px;
    margin: 0 auto;

    .step {
        --content-gap: 12px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--content-gap);
        margin-bottom: 24px;

        &::before {
            --marker-font-size: 1.6rem;
            --marker-size: calc(var(--marker-font-size) * 1.6);
            content: counter(recipe-step-count);
            counter-increment: recipe-step-count;
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--marker-size);
            height: var(--marker-size);
            margin-block: var(--padding-content);
            border-radius: 50%;
            background-color: var(--color-eggplant);
            font-family: var(--font-family-title), sans-serif;
            font-size: var(--marker-font-size);
            color: var(--color-light);
            line-height: 1;
        }

        .step-description {
            flex: 1;
            font-size: 1.1rem;
        }

        .step-ingredients {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-top: 2px solid var(--color-water);
            padding-top: var(--content-gap);

            .step-ingredients-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 4px;
                padding: 0;
                font-size: 1.1rem;
                color: var(--color-raspberry);

                i {
                    font-size: 0.6rem;

                }
            }

            .step-empty-list, ul {
                height: 0;
                transition: height 300ms linear;
                overflow: hidden;
            }

            .step-empty-list {
                font-style: italic;
                color: color-mix(in srgb, var(--color-dark) 60%, transparent);
            }

            ul {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 6px 12px;

                li {
                    display: flex;
                    flex-direction: column;

                    span {
                        font-weight: 600;
                    }
                }
            }

            &.expanded {
                .step-ingredients-title i {
                    transform: rotate(180deg) translateY(2px);
                }

                .step-empty-list, ul {
                    height: auto;
                    height: calc-size(max-content, size);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .step-list {
        margin-top: 12px;

        .step {
            padding-top: 0;
            flex-direction: column;
            margin-bottom: 28px;

            &::before {
                --marker-font-size: 1.4rem;
                align-self: center;
                margin-top: calc(var(--content-gap) * -1);
                margin-bottom: 0;
            }
        }
    }
}
