{% extends 'base.html.twig' %}

{% block title %}
    Création d'une recette | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('cooking_recipe_form_common') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('cooking_recipe_form_common') }}
{% endblock %}

{% block body %}
    <h1>Création d'une recette</h1>

    <div class="timeline-container">
        <ol class="timeline">
            <li class="active">
                <a href="#">
                    Métadonnées
                </a>
            </li>
            <li>
                <a href="#">
                    Détails
                </a>
            </li>
            <li>
                <a href="#">
                    Ingrédients
                </a>
            </li>
            <li>
                Ustensiles
            </li>
            <li>
                Étapes
            </li>
        </ol>
    </div>

    {% block form %}{% endblock %}
{% endblock %}
