button {
    border: none;
    background-color: transparent;
    font-family: var(--font-family-title), sans-serif;
    cursor: pointer;
}

.button {
    --button-background-color: var(--color-eggplant);
    --button-text-color: var(--color-light);

    background-color: var(--button-background-color);
    padding: 8px 16px;
    border: 2px solid var(--button-background-color);
    border-radius: var(--radius-default);
    font-family: var(--font-family-title), sans-serif;
    font-size: 1.1rem;
    color: var(--button-text-color);

    &.water {
        --button-background-color: var(--color-water);
        --button-text-color: var(--color-dark);
    }

    &.warn {
        --button-background-color: var(--color-warn);
        --button-text-color: var(--color-light);
    }

    &.outline {
        background-color: transparent;
        --button-text-color: var(--color-dark);
    }

    &.small {
        font-size: 1rem;
        padding: 6px 12px;
    }
}
