@use "loader";

button {
    border: none;
    background-color: transparent;
    font-family: var(--font-family-title), sans-serif;
    cursor: pointer;
}

.button {
    --button-background-color: var(--color-eggplant);
    --button-background-hover: color-mix(in srgb, var(--button-background-color) 85%, white 25%);
    --button-text-color: var(--color-light);

    position: relative;
    display: inline-block;
    background-color: var(--button-background-color);
    padding: 8px 16px;
    border: 2px solid var(--button-background-color);
    border-radius: var(--radius-default);
    font-family: var(--font-family-title), sans-serif;
    font-size: 1.1rem;
    color: var(--button-text-color);
    transition: background-color 200ms linear, border-color 200ms linear;

    &:hover {
        background-color: var(--button-background-hover);
        border-color: var(--button-background-hover);
    }

    &.water {
        --button-background-color: var(--color-water);
        --button-text-color: var(--color-dark);
    }

    &.warn {
        --button-background-color: var(--color-warn);
        --button-text-color: var(--color-light);
    }

    &.outline {
        --button-text-color: var(--color-dark);
        background-color: transparent;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            bottom: auto;
            right: auto;
            width: 0;
            height: 100%;
            background-color: var(--button-background-hover);
            z-index: -1;
            transform: skewX(-20deg);
            transition-duration: 400ms;
        }

        &:hover {
            &::after {
                width: calc(100% + 20px);
            }
        }
    }

    &.small {
        font-size: 1rem;
        padding: 6px 12px;
    }

    &.busy {
        user-select: none;
        pointer-events: none;
        color: transparent;

        & > * {
            visibility: hidden;
        }

        &::before {
            --loader-size: 25px;
            --loader-color: var(--color-pistachio);
            content: "";
            position: absolute;
            top: calc(50% - var(--loader-size) / 2);
            left: calc(50% - var(--loader-size) / 2);
            @include loader.default;
        }
    }
}
