.content-frame {
    background-color: var(--color-white);
    border-radius: var(--radius-default);
    box-shadow: 1px 1px 8px var(--shadow-default);
    padding: 32px;

    .frame-title {
        text-align: center;
    }
}
