form {
    .form-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        margin-bottom: 18px;

        label {
            display: inline-block;
            font-family: var(--font-family-title), sans-serif;
            font-size: 1.1rem;
            color: var(--color-eggplant);
            cursor: pointer;

            &:not(.required):after {
                content: "Facultatif";
                margin-left: 8px;
                padding: 2px 6px;
                background-color: var(--color-pistachio);
                border-radius: 5px;
                font-size: 0.8rem;
                color: var(--color-dark);
                vertical-align: middle;
            }
        }

        input[type="text"], input[type="email"], input[type="password"], textarea {
            width: 100%;
            border: 2px solid var(--color-pistachio);
            border-radius: 5px;
            padding: 8px;
            font-family: var(--font-family-content), sans-serif;
            font-size: 1rem;
            outline-color: var(--color-raspberry);

            &::placeholder {
                color: color-mix(in srgb, var(--color-eggplant) 80%, transparent 20%);
            }
        }

        textarea {
            resize: none;
        }

        input[type="checkbox"] {
            display: none;

            & + label:before {
                content: "";
                position: absolute;
                right: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: var(--checkbox-size);
                height: var(--checkbox-size);
                margin-right: var(--checkbox-spacer);
                border: 2px solid var(--color-raspberry);
                border-radius: 2px;
                vertical-align: text-top;
                font-family: var(--font-family-icon), sans-serif;
                font-size: 0.6rem;
                color: var(--color-light);
            }

            &:checked + label:before {
                content: "\e904";
                background-color: var(--color-raspberry);
                border-color: var(--color-raspberry);
            }

            & + label {
                --checkbox-size: 1.2rem;
                --checkbox-spacer: 8px;

                position: relative;
                margin-left: calc(var(--checkbox-size) + var(--checkbox-spacer));
                font-size: 1rem;
            }
        }

        .choices {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        input[type="radio"] {
            display: none;

            & + label {
                display: inline-block;
                padding: 4px 6px;
                border: 2px solid var(--color-raspberry);
                border-radius: 5px;
                font-family: var(--font-family-content), sans-serif;
                font-size: 1rem;
                color: var(--color-raspberry);
            }

            &:checked + label {
                background-color: var(--color-raspberry);
                color: var(--color-light);
            }
        }
    }

    .form-errors li {
        border-left: 2px solid var(--color-warn);
        padding-left: 6px;
        margin-left: 2px;
        margin-bottom: 8px;
    }

    .row-group {
        display: flex;
        gap: 20px;

        .form-row {
            flex: 1 1 50%;
        }
    }

    .form-actions {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 24px;
    }
}
