[data-tab-navigation] {
    [data-tab-content]:not(.active) {
        display: none;
    }

    .tab-navigator {
        max-width: 100%;

        ul {
            display: flex;
            gap: 16px;
            overflow-x: auto;

            button {
                font-family: var(--font-family-title), sans-serif;
                font-size: 1rem;
                border: 2px solid var(--color-water);
                padding: 6px 10px;
                border-radius: var(--radius-default);
                white-space: nowrap;

                &.active {
                    background-color: var(--color-water);
                }
            }
        }
    }
}
