h1, h2, h3 {
    font-family: var(--font-family-title), sans-serif;
    text-wrap: balance;
}

h1 {
    font-size: 1.8rem;
    color: var(--color-raspberry);
}

h2 {
    font-size: 1.4rem;
    color: var(--color-olive);
}
