{% block incremental_number_widget %}
    <div data-incremental-number>
        <button type="button" class="minus">&minus;</button>
        {{ form_widget(form) }}
        <button type="button" class="plus">&plus;</button>
    </div>
{% endblock %}
