{% block textarea_countable_widget %}
    <div data-char-counter>
        {{ block('textarea_widget') }}
        <div class="form-counter">
            <span class="form-counter-value"></span> caractères
        </div>
    </div>
{% endblock %}
