<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}TasteHub{% endblock %}</title>

        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'components/layout/header.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% include 'components/layout/footer.html.twig' %}
    </body>
</html>
