{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    {% if status %}
        <p>
            Votre demande de réinitialisation de mot de passe a bien été prise en compte.<br>
            Si un compte est associé avec l'adresse email renseignée, vous allez recevoir un email contenant un lien de réinitialisation.
        </p>
    {% else %}
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button>Confirmer</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
