{% extends 'base.html.twig' %}

{% block title %}
    Réinitialiser votre mot de passe | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }}
    <button>Confirmer</button>
    {{ form_end(form) }}
{% endblock %}
