[data-char-counter] {
    display: flex;
    flex-direction: column;

    .counter-message {
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--color-eggplant);
        align-self: end;

        .counter-message-value {
            color: var(--color-success);

            &.invalid {
                color: var(--color-warn);
            }
        }
    }
}
