form {
    .form-row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 4px;
        margin-bottom: 18px;

        label {
            display: inline-block;
            font-family: var(--font-family-title), sans-serif;
            font-size: 1.1rem;
            line-height: 1;
            color: var(--color-eggplant);
            cursor: pointer;

            &:not(.required, .silent-optional-badge):after {
                content: "Facultatif";
                margin-left: 8px;
                padding: 2px 6px;
                background-color: var(--color-pistachio);
                border-radius: var(--radius-default);
                font-size: 0.8rem;
                color: var(--color-dark);
                vertical-align: middle;
            }
        }

        .help-text {
            font-weight: 700;
            color: var(--color-eggplant);
        }

        label .accent, .help-text .accent {
            color: var(--color-raspberry);
        }

        input[type="text"], input[type="email"], input[type="password"], textarea {
            width: 100%;
            border: 2px solid var(--color-pistachio);
            border-radius: var(--radius-default);
            padding: 8px;
            font-family: var(--font-family-content), sans-serif;
            font-size: 1rem;
            outline-color: var(--color-raspberry);

            &::placeholder {
                color: color-mix(in srgb, var(--color-eggplant) 80%, transparent 20%);
                font-style: italic;
            }
        }

        textarea {
            resize: none;
        }

        input[type="checkbox"] {
            display: none;

            & + label {
                --checkbox-size: 1.2rem;
                --checkbox-spacer: 8px;
                display: flex;
                align-items: center;
                position: relative;
                margin-left: calc(var(--checkbox-size) + var(--checkbox-spacer));
                font-size: 1rem;
                vertical-align: center;

                &::before {
                    content: "";
                    position: absolute;
                    right: 100%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: var(--checkbox-size);
                    height: var(--checkbox-size);
                    margin-right: var(--checkbox-spacer);
                    border: 2px solid var(--color-raspberry);
                    border-radius: 2px;
                    font-family: var(--font-family-icon), sans-serif;
                    font-size: 0.6rem;
                    color: var(--color-light);
                }

                i {
                    color: var(--color-raspberry);
                    font-size: 1.6rem;
                    margin-left: 5px;
                }
            }

            &:checked + label:before {
                content: "\e904";
                background-color: var(--color-raspberry);
                border-color: var(--color-raspberry);
            }
        }

        .choices {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            label {
                font-family: var(--font-family-content), sans-serif;
                color: var(--color-dark);
            }
        }

        input[type="radio"] {
            display: none;

            & + label {
                display: inline-block;
                padding: 4px 6px;
                border: 2px solid var(--color-raspberry);
                border-radius: var(--radius-default);
                font-family: var(--font-family-content), sans-serif;
                font-size: 1rem;
                color: var(--color-raspberry);
            }

            &:checked + label {
                background-color: var(--color-raspberry);
                color: var(--color-light);
            }
        }
    }

    .form-errors li {
        border-left: 2px solid var(--color-warn);
        padding-left: 6px;
        margin-left: 2px;
        margin-bottom: 8px;
    }

    .row-group {
        display: flex;
        gap: 20px;

        & > * {
            flex: 1 1 50%;
        }
    }

    .form-actions {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 24px;
    }
}

@media screen and (max-width: 1024px) {
    form {
        .row-group {
            flex-direction: column;
        }
    }
}
