.form-row.rating-widget {
    margin-top: 12px;

    .choices {
        gap: 2px;

        input[type="radio"] + label {
            background-color: transparent;
            border: none;

            &:before {
                content: "\e917";
                font-family: var(--font-family-icon), sans-serif;
                font-size: 1.4rem;
            }
        }

        input[type="radio"]:has(~ input[type="radio"]:checked), input[type="radio"]:checked {
            & + label:before {
                content: "\f000";
                color: var(--color-raspberry);
            }
        }
    }
}
